

<ion-header>
  <ion-navbar color="dark">
    <ion-title (click)="createPlayer()">
      Virtual KBox Room
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: black">
  

  <!-- Player -->
  <div id="player" class="embed-responsive embed-responsive-16by9">
    <div id="placeholder" style="width: 100%" class="embed-responsive-item"></div>
    <div class="embed-responsive-item" style="width: 100% ; z-index: 90;position: fixed; background-color: black; background: url('images/cover.png'); background-size:cover; "
      *ngIf="!onPlaying"></div>
  </div>

  <div id="startup">
    <button ion-button (click)="nextSong()" block large color="danger" [disabled]="queuelength == 0"><ion-icon name="skip-forward"></ion-icon></button>
    <ion-list>
      <ion-item *ngFor="let video of limitList(queue)">
        <!-- <ion-avatar item-start>
          <img [src]=video.video>
        </ion-avatar> -->
        {{video.videoTitle}}
      </ion-item>
    </ion-list>
  </div>


  <ion-col col-9>
    <!-- Searchbar -->
    <div id="search-form">
      <form (ngSubmit)="findVideos($event)">
        <ion-item>
          <ion-label>Search Videos</ion-label>
          <ion-input type="text" [(ngModel)]="search.params" name="search" placeholder="Search"></ion-input>
          <button type="submit" ion-button icon-only clear item-right>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-item>
      </form>
    </div>

    <!-- Results -->
    <div id="results">
      <div class="card-background-page">
        <ion-card *ngFor="let video of videos.items" (click)="queueSong(video.id.videoId, video.snippet.title)">
          <ion-row>
            <ion-col col-4>
              <img src="{{video.snippet.thumbnails.high.url}}">
            </ion-col>
            <ion-col col-8>
                {{video.snippet.title}}
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </ion-col>



</ion-content>

